.radek {
    margin-bottom: 10px;
}

.signature-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 20px;
}

.signature {
    padding: 6px 8px;
    border-radius: 4px;
}

.signature.light {
    background-color: #fff;
}

.signature.dark {
    background-color: #000;
    user-select: none;
}