.radek {
    margin-bottom: 10px;
}

.signature-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
    margin-top: 20px;
}

.signature {
    padding: 6px 8px;
    border-radius: 4px;
}

.signature.light {
    background-color: #fff;
}

.signature.dark {
    background-color: #252746;
    user-select: none;
}

.signature-container-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.copied {
    background-color: #32a046 !important;
    border-color: #32a046 !important;
}

.error {
    background-color: #d9534f !important;
    border-color: #d9534f !important;
}